langchain-core
langchain-groq
langchain
python-dotenv
langchain-experimental
torch
uvicorn
fastapi
watchdog
notebook
langchain-astradb>=0.6,<0.7
langchain-huggingface
huggingface-hub
pillow
open_clip_torch
qdrant-client
requests
streamlit
coloredlogs
pydantic

